body{
  height:400vh;
}
.space{
/*   hight:100vh; */
}
body {
	/* This affects the entire page */
	background-color: #111;
	color: #999;
	font-family:AvenirNextLTPro-Regular;
	max-width: 1088px;
margin:auto;
padding:10px;
min-height:350vh;

}
.space{
  
  height: 100vh
}
.elevator-transition{
 animation: repeat 1s forwards;
  animation-delay: 1s;
  	
}

.elevator{
margin:5em 0;
  color: #fff;
	font-family:AvenirNextLTPro-Bold;
	font-size: 3em;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:10px;

}
.elevatorL{
  text-align: right;
  left:5em;
}
.elevatorR{
  left:10em;
}
@keyframes repeat{
  100%{
    filter: drop-shadow(0 1em 0 #fff) drop-shadow(0 1em 0 #fff) drop-shadow(0 1em 0 #fff) drop-shadow(0 1em 0 #fff) drop-shadow(0 1em 0 #fff) drop-shadow(0 1em 0 #fff);
  }
  
}
.elevatorL-transition{
    animation: moveLeft .7s forwards;
/*   animation-delay:2s; */
    	animation-play-state: paused ;
	animation-delay:  calc(var(--scroll) * -1s);

}
.elevatorR-transition{
    animation: moveRight .7s forwards;
/*     animation-delay:2s; */
    	animation-play-state: paused ;
	animation-delay:  calc(var(--scroll) * -1s);
}

@keyframes moveLeft {
      0% {
        transform: translateX(0px) rotate(0);
  }
  100%{
      transform: translateX(-10em);
  } 
}
@keyframes moveRight {
      0% {
        transform: translateX(0px) rotate(0);
  }
  100%{
      transform: translateX(10em);
  } 
}
